.maincontainer{
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.maincontainer > *{
    width: 20vw;
    margin-bottom: 5px;
}

.maincontainer > button {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px black solid;
}